<template>
    <div>
        <hidden-block v-if="type === getType.HIDDEN"></hidden-block>
        <new-block v-else-if="type === getType.NEW"></new-block>
        <old-block v-else></old-block>
    </div>
</template>

<script>

import HiddenBlock from "./HiddenBlock";
import NewBlock from "./NewBlock";
import OldBlock from "./OldBlock";
import { blockTypes } from "../assets/js/blockHelper";

export default {
    name: "block",
    components: {OldBlock, NewBlock, HiddenBlock},
    computed: {
        getType() {
            return blockTypes;
        }
    },
    props: {
        type: { type: String, required: true}
    }
}

</script>

<style lang="scss" scoped>

</style>