<template>
    <div>
        <block :type="getType.HIDDEN"></block>
        <block :type="getType.NEW"></block>
        <Block :type="getType.OLD"></Block>
    </div>
</template>

<script>
import Block from "../components/Block";
import {blockTypes} from "../assets/js/blockHelper";

export default {
    name: "index",
    computed: {
        getType() {
            return blockTypes;
        }
    },
    components: {Block},
}
</script>

<style lang="scss" scoped>

</style>